<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      Welens
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/']">
          Главная
        </a>
      </li>
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/articles/new']">
            <i class="ion-compose"></i>
            &nbsp; Новый пост
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/settings']">
            <i class="ion-gear-a"></i>
            &nbsp; Настройки
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profiles', (currentUser$ | async).username]">
            <img class="user-pic" [src]="(currentUser$ | async).image" alt="Юзер">
            &nbsp; {{(currentUser$ | async).username}}
          </a>
        </li>
      </ng-container>

      <!--      no login-->

      <ng-container *ngIf="isAnonymous$ | async">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']">
            &nbsp; Войти
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']">
            &nbsp; Зарегистрироваться
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
