<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-cs-12">
        <mc-backend-error-messages
          *ngIf="errorsProps"
          [backendErrors]="errorsProps"
        ></mc-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Заголовок"
                formControlName="title"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Описание"
                formControlName="description"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control form-control-lg"
                rows="8"
                placeholder="Текст"
                formControlName="body"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Теги"
                formControlName="tagList"
              />
            </fieldset>
            <fieldset>
              <button
                type="submit"
                class="btn btn-lg pull-xs-right btn-primary"
                [disabled]="form.invalid || isSubmittingProps"
              >
                Опубликовать статью
              </button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
